.confirmation-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
     background: linear-gradient(180deg, #FFF8ED 0%, #F7E8C8 100%);
     margin:0;
     padding:0;
}

.confirmation-card{
    width:450px;
    background: linear-gradient(90deg, #e7d9c1, #e6cc85);
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    margin:auto;
}

.confirmation-card h1{
    text-align:center;
    color:green;
}

.confirmation-card p{
    margin:12px 0;
    font-size:17px;
}

.confirmation-card button{
    width:100%;
    margin-top:25px;
    padding:12px;
    border:none;
    border-radius:8px;
    background: linear-gradient(135deg,#f0b77b,#f05c0c);
    color:white;
    cursor:pointer;
}